.avatar-img {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: 1px solid #DCDCDC;
    margin-top: 11px;
}

.student-name{
    font-family: 'Raleway', sans-serif ;
}

.student-details{
    font-family: 'Raleway', sans-serif !important;
    padding-left: 1rem;
    font-size: 14px !important;

}