.avatar-img {
    width: 125px;
    height: 125px;
    border-radius: 100px;
    border: 1px solid #DCDCDC;
    margin-top: 11px;
}

.student-name{
    font-family: 'Raleway', sans-serif ;

}

.student-details{
    font-family: 'Raleway', sans-serif !important;
    padding-left: 1rem;
    font-size: 16px !important;

}